/*Header+nav*/
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
}


.header__logo{
    margin-left: 30px;
}

.header__logo img{
    height: 50px;
    width: 100px;
    padding-top: 10px;
}

 
nav{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    width: 50%;
    min-width: 50%;
}

nav .item {
    padding-top: 30px;
    padding-right: 20px;
    font-size: 1.2em;
}

nav .item a{
    padding-left: 20px;
}
nav .item:hover {
    border-top: 1px solid blue;
}

nav .item2 {
    padding-top: 30px;
    padding-right: 20px;
    font-size: 1.2em;
}

nav .item2 a{
    padding-left: 20px;
}
nav .item:hover a{
    color:#0065fc;
}

#blue-bold.header-nav-link:hover{
    color:black;
    border-top: none;
}

.header-nav-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    color: black;
}


#blue-bold{
    color: #0065fc;

}

/*Search*/
.title{
    height: 30px;
    margin-left: 20px;
}

.subtitle{
    height:30px;
    margin-left:20px;
    margin-bottom: 20px;
}

.search {
    display: flex;
    justify-content:left;
    flex-direction: column;
}

.search h3{
    font-weight: bold;
    font-size: 1em;
    margin-left: 16px;
}

.search p{
    font-size: 0.8em;
    margin-left: 16px;
}

#search-location{
    display: flex;
}

#map{
    height: 36px;
    width: 36px;
    border-radius: 10px 0 0 10px;
    background-color:#F2F2F2;
}

.fas.fa-map-marker-alt{
    height:15px;
    width: 15px;
    margin-left: 12px;
    margin-top: 10px;
    color: black;
}

.Section-search{
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    width: 50%;
    align-items: center;
}

#search-bar{
    font-weight: bolder;
    font-size: 0.9em;
    font-family: "Raleway";
    padding-left: 10px;
    border-left: none;
    border-right:none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    
}


input#search-bar::placeholder{
    color:black;
}

#bouton{
    height: 36px;
    background-color: #0065fc;
    font-weight: bolder;
    color: white;
    border-radius: 0 10px 10px 0 ;
    border: none;
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Raleway";
}

/*Filtres*/
#Filters{
    margin-left: 45px;
    margin-top: 30px;

}

#Filters li.text{
    padding-top: 10px;
    margin-right: 20px;
}

#Filters ul{
    display:flex;   
    list-style-type: none;
    font-weight: bolder;
    width: 100%;
    gap: 2%;
    
}

li.fil{
    border: 2px solid lightgrey;
    border-radius: 20px;
}

.fil-text{
    padding-left: 10px;
    padding-right: 10px;
}

li.fil:hover{
    background-color: #0065fc;
    color: white;
    cursor: pointer;
}


#Filters i {
    height: 30px;
    width: 30px;
    border: 1px;
    border-radius: 50px;
    background-color: #DEEBFF;
    color:#0065fc;
    padding-left: 9px;
    padding-top: 9px;
}

#Filters i::before{
    padding-left: 2px;
}
/*Info*/
#info{
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    width: 60%;
    height: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 10px;
}

#info-text {
    margin-left: 10px;
    font-size: 0.8em;
}

.fa-info {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.1em 0.5em;
    color:#0065fc;
    vertical-align: middle;
}

.fa-info::before{
    font-size: 0.7em;
    vertical-align: middle;
}

/*Section-Hebergements*/
.Section-Hebergements-de-Marseille{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 45px;
}

img.icard{
    height: 110px;
    width: 96%;
    border: 1px none;
    border-radius: 20px 20px 0 0;
    align-content: center;
    padding-top: 5px;
    padding-left: 5px;
    object-fit: cover;
}


#content-hebergements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 15px;
}

#content-hebergements-de-marseille{
    display: flex;
    background: #F2F2F2;
    border: 1px;
    border-radius: 20px;
    width: 65%;
    margin-left: 20px;
    flex-wrap: wrap;

}

.Title{
    display:flex;
    width: 100%;
    height: 50px;
    font-weight: bolder;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.Title img{
    height: 20px;
    width: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.Title p{
    font-size: 1.2em;
}
.Section-Hebergements-de-Marseille .card{
    display:flex;
    flex-direction: row;
    background-color: white;
    border: 1px;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 280px;
    height: 200px;
    cursor: pointer;
    padding-bottom: 10px;
    box-shadow:0px 0px 10px lightgrey;
    gap:5px;
    line-height: 1.5em;
}

.Section-Hebergements-de-Marseille .tcard{
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

.night{
    font-size: 0.9em;
}
.bold{
    font-weight: bold;
}

.bold-price{
    font-weight: bold;
}

.bold-plus{
    width: 100%;
    padding-bottom: 20px;
    font-size: 0.9em;
}

.bold-plus a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-left: 30px;
}

/*Populaires*/
aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#F2F2F2;
    margin-right: 10px;
    border: 1px;
    border-radius: 20px;
    width: 30%;
    padding-bottom: 20px;
}

.Section-Les-plus-populaires{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.Title2{
    width: 89%;
    display:flex;
    height: 50px;
    font-weight: bolder;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 35px;
    font-size: 1.2em;
}

i.fas.fa-chart-line{
    padding-top: 20px;
    width:40px;
}


.card-pop{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px lightgrey;
    height: 140px;
    width: 85%;
}

.tcard2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
    

}


.icard2{
    border: 1px none;
    border-radius: 20px 0px 0px 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 93%;
    width: 141px;
    object-fit: cover;
}

.icard2a{
    width: 141px;
}


.left-stars{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2px;
}

.right-stars{
    display: flex;
    gap:2px;
}



.blue-star{
    color:#0065fc;
    display: inline-block;
}

.grey-star{
    color: #DEEBFF;
}

/*Activités*/
#bottombox{
    border: 1px;
    border-radius: 10px;
    margin-left: 15px;
    height: 500px;
}

.Title1{
    display:flex;
    height: 50px;
    font-weight: bolder;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 1.2em;
}
.Section-Activités-à-Marseille{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-left: 20px;
    height: 355px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 25%;
    padding-left: 30px;
}

.tcard1{
    font-weight: bold;
    padding-left: 20px;
}

.tcard1a{
    text-decoration: none;
    color: black;
}

.card1{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    box-shadow: 0 0 5px 2px #F2F2F2;
    width: 25%;
    height: 350px;
    border-radius: 20px;
    cursor: pointer;
}

.card1 img{
    height: 300px;
    width: 100%;
    object-fit: cover;  
    border-radius: 20px 20px 0px 0px;
}

.card2{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    box-shadow: 0 0 5px 2px #F2F2F2;
    width: 90%;
    height: 55%;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card2a{
    height:75%;
    width: 100%;
}

.card3{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    box-shadow: 0 0 5px 2px #F2F2F2;
    width: 90%;
    height: 35%;
    border-radius: 20px;
    cursor: pointer;
}

.card3 img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card3a{
    height: 75%;
    width: 100%;
}

.card4{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    box-shadow: 0 0 5px 2px #F2F2F2;
    width: 94%;
    height: 45%;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.card4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;

}

.card4a{
    height: 75%;
    width: 100%;
}

.card5{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    box-shadow: 0 0 5px 2px #F2F2F2;
    width: 94%;
    height: 44%;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.card5 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;

}

.card5a{
    height: 75%;
    width: 100%;
}
/*Footer*/
.link_footer{
    text-decoration: none;
    list-style-type: none;
}

.footer.btn a {
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
}

footer {
    min-height: 150px;
    width: 100%;
    background-color: #F2F2F2;
    
}

.footer_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.7em;
    margin-left: 40px;
    width: 74%;
}

ul {
    padding-left: 0;
    text-decoration: none;
    list-style-type: none;
}

li {
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: #0065fc;
}

@media screen and (max-width:600px){
    header{
        height: 120px;
        width: 100%;
    }
    
    .header{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .header__logo{
        width: 30%;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        width: 83%;
        height: 120px;
    }
   
    .item{
        font-size: 1.3em;
    }
    .title{
        margin-bottom: 30px;
        font-size: 1.6em;
    }

    .subtitle{
        margin-top: 15px;
        font-size: 1.3em;
    }

    .Section-search{
        width: 85%;
    }

    #Filters{
        margin-top: 10px;
    }

    #Filters li.text{
        padding-top: 0%;
        margin-bottom: 10px;
    }
    #Filters ul{
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 5px;
        width: 60%;
    }

    #info{
        width: 85%;
        font-size: 1.3em;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .fa-info{
        margin-bottom: 20px;
    }
    #content-hebergements{
        margin:10px;
        flex-direction: column-reverse;
    }
    
    #content-hebergements-de-marseille{
        width: 100%;
        margin-left: 0%;
        background-color: white;
    }

    .Title{
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        padding-left: 20px;
    }

    .Title2{
        padding-left: 20px;
    }

    .Section-Hebergements-de-Marseille{
        row-gap: 20px;
        align-items: center;
    }
    .Section-Hebergements-de-Marseille .card{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    }

    img.icard {
        width: 97.5%;
    }

    .left-stars{
        padding-left: 0;
    }
    

    .card-pop{
        width: 90%;
    }

    .bold-plus{
        padding-bottom: 0%;
    }

    .bold-plus a{
        padding-left: 20px;
    }
    .Section-Activités-à-Marseille{
        flex-direction: column;
        height: auto;
        margin-left: 0%;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
    }

    #bottombox{
        height: auto;
        margin:20px;
        width: auto;
        margin-top: 0%;
    }
    aside{
        width: 100%;
        margin-right: 0%;
        margin-bottom: 20px;
    }


    .Title1{
        padding-top: 0%;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    .card1{
        width:100%;
        height: 75%;
    }

    .card1 img{
        height: 130px;
    }

    .tcard1{
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .column{
        width: 100%;
        padding-left: 0%;
        
    }

    .card2{
        width: 100%;
        height: 75%;
        
    }

    .card2 img{
        height: 130px;
    }

    .card3{
        width: 100%;
        
    }

    .card3 img{
        height: 130px;
    }

    .card4{
        width: 100%;
        margin-left:0%;
        
    }

    .card4 img{
        height: 130px;
    }

    .card5{
        width:100%;
        margin-left: 0%;
        
    }

    .card5 img{
        height: 130px;
    }

    .footer{
        width: 100%;
    }
    
    .footer_row{
        flex-direction: column;
        width: auto;
    }
}

