/*Header+nav*/
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
}


.header__logo{
    margin-left: 30px;
}

.header__logo img{
    height: 50px;
    width: 100px;
    padding-top: 10px;
}

nav{
    display: flex;
}

nav .item {
    padding-top: 30px;
    padding-right: 20px;
}

nav .item a{
    padding-left: 20px;
}
nav .item:hover {
    border-top: 1px solid blue;
}

nav .item2 {
    padding-top: 30px;
    padding-right: 20px;
}

nav .item2 a{
    padding-left: 20px;
}
nav .item:hover a{
    color:#0065fc;
}

#blue-bold.header-nav-link:hover{
    color:black;
    border-top: none;
}

.header-nav-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    color: black;
}


#blue-bold{
    color: #0065fc;

}

/*Search*/
.title{
    height: 30px;
    margin-left: 20px;
}

.subtitle{
    height:30px;
    margin-left:20px;
    margin-bottom: 20px;
}

.search {
    display: flex;
    justify-content:left;
    flex-direction: column;
}

.search h3{
    font-weight: bold;
    font-size: 1em;
    margin-left: 16px;
}

.search p{
    font-size: 0.8em;
    margin-left: 16px;
}

#search-location{
    display: flex;
}

#map{
    height: 36px;
    width: 36px;
    border-radius: 10px 0 0 10px;
    background-color:#F2F2F2;
}

.fas.fa-map-marker-alt{
    height:15px;
    width: 15px;
    margin-left: 12px;
    margin-top: 10px;
    color: black;
}

.Section-search{
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    width: 50%;
    align-items: center;
}

#search-bar{
    font-weight: bolder;
    font-size: 0.9em;
    font-family: "Raleway";
    padding-left: 10px;
    border-left: none;
    border-right:none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    
}


input#search-bar::placeholder{
    color:black;
}

#bouton{
    height: 36px;
    background-color: #0065fc;
    font-weight: bolder;
    color: white;
    border-radius: 0 10px 10px 0 ;
    border: none;
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Raleway";
}

/*Filtres*/
#Filters{
    margin-left: 45px;
    margin-top: 30px;

}

#Filters li.text{
    padding-top: 10px;
    margin-right: 20px;
}

#Filters ul{
    display:flex;   
    list-style-type: none;
    font-weight: bolder;
    width: 100%;
    gap: 2%;
    
}

li.fil{
    border: 2px solid lightgrey;
    border-radius: 20px;
}

.fil-text{
    padding-left: 10px;
    padding-right: 10px;
}

li.fil:hover{
    background-color: #0065fc;
    color: white;
    cursor: pointer;
}


#Filters i {
    height: 30px;
    width: 30px;
    border: 1px;
    border-radius: 50px;
    background-color: #DEEBFF;
    color:#0065fc;
    padding-left: 9px;
    padding-top: 9px;
}

#Filters i::before{
    padding-left: 2px;
}
/*Info*/
#info{
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    width: 60%;
    height: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 10px;
}

#info-text {
    margin-left: 10px;
    font-size: 0.8em;
}

.fa-info {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.1em 0.5em;
    color:#0065fc;
    vertical-align: middle;
}

.fa-info::before{
    font-size: 0.7em;
    vertical-align: middle;
}

/*Section-Hebergements*/
.Section-Hebergements-de-Marseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

img.icard{
    height: 110px;
    width: 220px;
    border: 1px none;
    border-radius: 20px 20px 0 0;
    align-content: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
}

#content-hebergements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 15px;
}

#content-hebergements-de-marseille{
    background: #F2F2F2;
    border: 1px;
    border-radius: 20px;
    width: 60%;
    margin-left: 20px;
    flex-wrap: wrap;

}

.Title{
    display:flex;
    width: 100%;
    height: 50px;
    font-weight: bolder;
    font-size: 1em;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 25px;
}

.Title img{
    height: 20px;
    width: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.Section-Hebergements-de-Marseille .card{
    display:flex;
    flex-direction: row;
    background-color: white;
    border: 1px;
    border-radius: 20px;
    flex-wrap: wrap;
    width:230px;
    height: 180px;
    cursor: pointer;
    padding-bottom: 20px;
    box-shadow:5px 5px 5px 2px #F2F2F2;
}

.Section-Hebergements-de-Marseille .tcard{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bold{
    font-weight: bold;
}

.bold-plus{
    width: 100%;
    padding-bottom: 20px;
    font-size: 0.9em;
}

.bold-plus a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-left: 40px;
}

/*Populaires*/
.rightbox{
    background-color:#F2F2F2;
    margin-right: 10px;
    border: 1px;
    border-radius: 20px;
    width: 30%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.Section-Les-plus-populaires{
    display: flex;
    flex-wrap: wrap;
}

.rightbox .Title{
    width: 90%;
}

i.fas.fa-chart-line{
    padding-top: 20px;
    width:40px;
}


.Section-Les-plus-populaires .card{
    display:flex;
    background-color: white;
    border: 1px;
    border-radius: 20px;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
    box-shadow: 2px 2px 2px lightgrey;
}

.Section-Les-plus-populaires .tcard{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 40%;
}

.Section-Les-plus-populaires img{
    height: 110px;
    border: 1px none;
    border-radius: 20px 0px 0px 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 115px;
    width: 30%;
}


.left-stars{
    display: flex;
    padding-top: 10px;
}

.right-stars{
    display: flex;
    padding-top: 20px;
}
.blue-star{
    color:#0065fc;
    width:20px;
    display: inline-block;
}

.grey-star{
    color: #DEEBFF;
}

/*Activités*/
#bottombox{
    background-color: #F2F2F2;
    border: 1px;
    border-radius: 10px;
    margin-left: 20px;

}

#bottombox .a{
    display: flex;
}

/*Footer*/
.link_footer{
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}

.footer.btn a {
    text-decoration: none;
    display:inline-block;
    list-style-type: none;
    justify-content: space-between;
}

footer {
    min-height: 150px;
    width: 100%;
    background-color: lightgrey;
    
}

.footer_row {
    display: flex;
    justify-content: space-evenly;
}

ul {
    padding-left: 0;
    text-decoration: none;
    list-style-type: none;
}

li {
    text-decoration: none;
}


